:root{
  --ifm-color-primary-lightest: #123E98;
  --ifm-color-primary-lighter: #103787;
  --ifm-color-primary-light: #0F3581;
  --ifm-color-primary: #0E3075;
  --ifm-color-primary-dark: #0D2B69;
  --ifm-color-primary-darker: #0C2963;
  --ifm-color-primary-darkest: #0A2252;
}
